#footer_container{
  bottom:-100%;
}
#map {
        position: absolute;
        height: 100%;
        width: 100%;
      }

      #container_main{
        position: absolute;
          top: 0%;
          left: 0%;
          width:100%;
          height: 200%;
      }

      #imgmap {
          position: absolute;
          top: 100%;
          left: 0%;
          width: 100%;
          height: 100%;

        }
        #kartet {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 90%;
          }

body {background-color: white;
    overflow-x:hidden;
}

#container_main{
  position: absolute;
    top: 0%;
    left: 0%;
    width:100%;
    height: 100%
}

#menubar_container {
  position: absolute;
    top: 0%;
    left: 0%;
    width:100%;
    height: 170px;
    margin: 0;
}

#btttnrow_container {
    right: 5%;
    top: 185%;
    margin: 0;

  }

  #Boks{
    position: absolute;
    -webkit-box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.5);
            box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.5);
    top: 125%;
    left: 40%;
    height: 50%;
    width: 20%;
    background-color: white;
    visibility: hidden;

  }

  #Spisested_Overskrift_Boks{
    position: absolute;
    background-color: #61B0C5;
    top:40%;
    height: 15%;
    width: 100%;
    visibility: hidden;
  }
  #Spisested_hurtiginfo_boks1{
    position: absolute;
    width:33.333333333333333333%;
    height: 15%;
    bottom: 0%;
    left:0%;
    background-color: #ff0000;
  }
  #Spisested_hurtiginfo_boks2{
    position: absolute;
    width:33.333333333333333333%;
    height: 15%;
    bottom: 0%;
    left:33.333333333333333333%;
    background-color: #00ff00;
  }
  #Spisested_hurtiginfo_boks3{
    position: absolute;
    width:33.333333333333333333%;
    height: 15%;
    bottom: 0%;
    left:66.666666666666%;
    background-color: #0000ff;
  }

  #Utested_Overskrift_Boks{
    position: absolute;
    background-color: #795682;
    top:40%;
    height: 15%;
    width: 100%;
    visibility: hidden;
  }
  #Studiested_Overskrift_Boks{
    position: absolute;
    background-color: #FFD269;
    top:40%;
    height: 15%;
    width: 100%;
    visibility: hidden;
  }

  #Boks_Overskrift{
   position: absolute;
   position: absolute;
   top: 37%;
   width: 100%;
   height: 15%;
  }
  #Txt_Overskift_Box{

    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
  }
  #Boks_bilde{
    position: absolute;
    top: 0%;
    height: 40%;
    width: 100%;
  }
  #Boks_close{
    position: absolute;
    top:4%;
    right: 2%;
    height: 3vw;
    width: 3vw;
  }
  #sliderbox{

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    background-image: url(/img/img_pictures/ericbilder/Barcode.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
