#container_main{
  left: 0%;
  top: 0%;
  position: absolute;
  height: 200%;
  width: 100%;
  background-color: white;
}

#container_campus{
  position: absolute;
  top: 5%;
  left: 0%;
  height: 45%;
  width: 100%;
}

.campus {
  position: absolute;
  top: 20%;
  height: 70%;
  width: 20%;
  text-align: center;
  background-color: white;
  border: solid white 1vw;

}

h1{
 font-family: sans-serif;
 font-size: 2vw;
}

h2{
  font-family: sans-serif;
}

p{
  font-family: sans-serif;
}

#fjerdingen{
  left: 6.665%;
}

#brenneriveien{
  left: 39%;

}
#vulkan{
  left: 69.999%;
}

#kilde{
  font-size: 0.5em;
}

.apningstider {
  position: absolute;
  bottom: 0%;
  height: 40%;
  width: 100%;
  text-align: center;
  background: white;
}


#omOss{
  position: absolute;
  top: 50%;
  left: 0%;
  height: 50%;
  width: 100%;
}

#ossWrap{
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
}

.card{
  position: absolute;
  left: 10%;
  height: 35%;
  width: 35%;
  background: -webkit-linear-gradient(40deg, #ff7365, #fc8b80);
  background: linear-gradient(50deg, #ff7365, #fc8b80);
  text-align: center;
  float: left;
}

h6{
  font-family: sans-serif;
  font-size: 1.2em;
  color: #424242;
}

h5{
  font-family: sans-serif;
  font-size: 2.5em;
  color: white;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
}



#email{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 25%;
  text-align: center;
}

#Navn{
  position: absolute;
  width: 100%;
  height: 20%;
  top: -20%;
  left: 0%;
}

#Martin{
  top: 10%;
}

#Ullerikke{
  top: 10%;
  left: 50%;
  background: -webkit-linear-gradient(40deg, #61b0c5, #7cc2d3);
  background: linear-gradient(50deg, #61b0c5, #7cc2d3);
}

#Eric{
  left: -7.5%;
  bottom: 5%;
  background: -webkit-linear-gradient(40deg, #795682, #ab7eb7);
  background: linear-gradient(50deg, #795682, #ab7eb7);
}

#Tobias{
  bottom: 5%;
  left: 32.5%;
  background: -webkit-linear-gradient(40deg, #7CC396, #a2d8b6);
  background: linear-gradient(50deg, #7CC396, #a2d8b6);
}

#Tron{
  bottom: 5%;
  left: 72.5%;
  background: -webkit-linear-gradient(40deg, #FFD269, #f9d786);
  background: linear-gradient(50deg, #FFD269, #f9d786);
}
