#Menu_text{
 margin-top: 10%;
 text-align: center;
 font-family: sans-serif;
 font-weight: 300;
 color: #565656;
}

#Bar_menu_element_bg {
  position: absolute;
    width:20%;
    height: 52%;
    margin: 0;
    background-color: white;
}

#Bar_menu_element_line {
  position: absolute;
  bottom:0%;
  width:100%;
    height: 12%;
    margin: 0;
    background-color: #795682;



}

#Restaurant_menu_element_bg {
  position: absolute;
    left:20%;
    width:20%;
    height: 52%;
    margin: 0;
    background-color: white;
    border-left: 1px solid;

    border-color: #E3E6EA;

}

#Restaurant_menu_element_line {
  position: absolute;
  bottom:0%;
  width:100%;
    height: 12%;
    margin: 0;
    background-color: #61B0C5;
    border-right: 1px solid;


}



#Hjem_menu_element_extend {
  position: absolute;
    left:40%;
    width:20%;
    height: 100%;
    margin: 0;

}

#Hjem_menu_element_bg {
  position: absolute;
    left:40%;
    width:20%;
    height: 52%;
    margin: 0;
    background-color: white;
    border-color: #E3E6EA;

  }

  #Hjem_menu_element_border {
    position: absolute;
      left:40%;
      width:20%;
      height: 52%;
      margin: 0;
      border-left: 1px solid;
      border-color: #E3E6EA;

    }

        #Hjem_Linje_hvit {
          position: absolute;
            bottom:54%;
            width:100%;
            height: 30%;
            margin: 0;
            background-color: #FFFFFF;}

     #Hjem_Linje_farge {
          position: absolute;
          left: 0%;
            bottom:48%;
            width:100%;
            height: 6%;
            margin: 0;
            background-color: #F27263;}

    #Hjem_Trapes_Farge {
      position: absolute;
     top: 29%;
     left: 0%;
    	border-top: 7.5vw solid #F27263;
    	border-left:  7.1vw solid transparent;
    	border-right: 7.1vw solid transparent;
    	height: 0;
    	width: 30%;
     transform: rotate(0deg);
     overflow: hidden;
    }
    #Hjem_Trapes_Hvit {
      position: absolute;
     top: 20%;
     left: 1.9%;
    	border-top: 7.5vw solid white;
    	border-left:  6.9vw solid transparent;
    	border-right: 6.9vw solid transparent;
    	height: 0;
    	width: 28%;
     transform: rotate(0deg);
     overflow: hidden;
    }

#Hjem_menu_logo_box {
  position: absolute;
    left:40%;
    width:20%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#Hjem_menu_logo {
  position: absolute;
    top: 5%;
    left:33%;
    width:34%;
    margin: 0;
    overflow: hidden;
    visibility: visible;
}
#Hjem_menu_logo_wht {
  position: absolute;
    top: 5%;
    left:33%;
    width:34%;
    margin: 0;
    overflow: hidden;
}

#Hjem_menu_logo_bar {
  position: absolute;
    top: 1%;
    left:27.5%;
    width:45%;
    margin: 0;
    overflow: hidden;
}
#Hjem_menu_logo_bar_box {
  position: absolute;
  z-index: 1;
    left:40%;
    width:20%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    visibility: hidden;
}

#Hjem_menu_logo_rest {
  position: absolute;
    top: 12%;
    left:17.5%;
    width:65%;
    margin: 0;
    overflow: hidden;
}
#Hjem_menu_logo_rest_box {
  position: absolute;
  z-index: 1;
    left:40%;
    width:20%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    visibility: hidden;
}
#Hjem_menu_logo_stud {
  position: absolute;
  z-index: 1;
    top: 6%;
    left:22.5%;
    width:55%;
    margin: 0;
    overflow: hidden;
}

#Hjem_menu_logo_stud_box {
  position: absolute;
  z-index: 1;
    left:40%;
    width:20%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    visibility: hidden;
}

#Hjem_menu_logo_sok {
  position: absolute;
    top: 3%;
    left:20%;
    width:60%;
    margin: 0;
    overflow: hidden;
}

#Hjem_menu_logo_sok_box {
  position: absolute;
  z-index: 1;
    left:40%;
    width:20%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    visibility: hidden;
}

#Hjem_menu_logo_hjm {
  position: absolute;
    top: 20%;
    left:5%;
    width:90%;
    margin: 0;
    overflow: hidden;
    visibility: hidden;

}


#Studere_menu_element_bg {
  position: absolute;
    left:60%;
    width:20%;
    height: 52%;
    margin: 0;
    background-color: white;
  border-left: 1px solid;

    border-color: #E3E6EA;
}

#Studere_menu_element_line {
  position: absolute;
  bottom:0%;
  width:100%;
    height: 12%;
    margin: 0;
    background-color: #FFD269;


}

#Sok_menu_element_bg {
  position: absolute;
    left:80%;
    width:20%;
    height: 52%;
    margin: 0;
    background-color: white;
    border-left: 1px solid;
    border-color: #E3E6EA;
}

#Sok_menu_element_line {
  position: absolute;
    bottom:0%;
    width:100%;
    height: 12%;
    margin: 0;
    background-color: #7CC396;

}

#search-box-wrapper {
  position: absolute;
  top: 14%;
  left: 5%;
  width: 90%;
  height: 60%;
  border-radius: 2vw;

  background-color: #7CC396;
}

#search-box-input{
position: absolute;
top: 15%;
left: 5%;
width: 75%;
height: 70%;
font-size: 1em;
border: none;
background-color: transparent;
}

#search_img{
  position: absolute;
  height: 100%;
  width: 100%;
}

#search-box-button{
position: absolute;
top: 15%;
left: 80%;
width: 15%;
height: 70%:

}

#Bar_menu_element_bg:hover + #Hjem_menu_logo_bar_box { visibility: visible;}
#Restaurant_menu_element_bg:hover + #Hjem_menu_logo_rest_box{ visibility: visible;}
#Studere_menu_element_bg:hover + #Hjem_menu_logo_stud_box { visibility: visible;}
#Sok_menu_element_bg:hover + #Hjem_menu_logo_sok_box { visibility: visible;}
#Bar_menu_element_bg:hover > #Bar_menu_element_line  { background-color: #E3E6EA;}
#Bar_menu_element_bg:hover{background-color:  #795682;}
#Restaurant_menu_element_bg:hover > #Restaurant_menu_element_line  { background-color: #E3E6EA;}
#Restaurant_menu_element_bg:hover{background-color:  #61B0C5;}
#Studere_menu_element_bg:hover > #Studere_menu_element_line  { background-color: #E3E6EA;}
#Studere_menu_element_bg:hover{background-color:  #FFD269;}
#Sok_menu_element_bg:hover > #Sok_menu_element_line  { background-color: #E3E6EA;}
#Sok_menu_element_bg:hover{background-color:  #7CC396;}
#Bar_menu_element_bg:hover > #Menu_text { color: white;}
#Restaurant_menu_element_bg:hover > #Menu_text { color: white;}
#Studere_menu_element_bg:hover > #Menu_text { color: white;}
#Sok_menu_element_bg:hover > #search-box-wrapper { background-color: white;}
#Sok_menu_element_bg:hover > #search-box-input { background-color: white;}
