

body{
    margin: 0px;
    background-color: #d9e0e6;
}

#logo {
    position: relative;
    top: 300px;
    height: 200px;
}
#frontLogo{
    position: absolute;
    height: 400px;
    width: 500px;
    margin: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#frontButtons{
    position: relative;
    top: 500px;
    height: 150px;
    width: 600px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.siteButtons{
    position: relative;
    margin: auto;
    width: 100px;
    height: 100px;
    float: left;
}
#barButton{
    position: absolute;
    background-color: red;
    left: 50px;
}

#eatButton{
    position: absolute;
    background-color: yellow;
    left: 250px;
}

#studieButton{
    position: absolute;
    background: green;
    left: 450px;
}

#container{
    position: relative;
    width: 1510px;
    height: 1200px;
    margin: auto;
}

#container a{
    color: rgb(255, 255, 255);
}



#glados{
    width: 100px;
    position: fixed;
    left: 100px;
    top: -200px;
    transition: top 0.6s linear;
    z-index: 5;
}



h1{
    font-family: sans-serif;
    font-size: 50px;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    top: 50px;
    left: 450px;
    color: #45525a;
    position: absolute;
}

#bar{
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 40px;
    background: linear-gradient(#45525a,#282828);
    z-index: 3;
    color: rgb(255, 255, 255);
}

#navbar{
    position: relative;
    min-width: 950px;
    max-width: 950px;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

#navbar a{
    text-decoration: none;
    position: relative;
    font-family: sans-serif;
    float: left;
    padding-right: 40px;
    padding-left: 40px;
}

#navbar a:hover{
    color: #85c226;
}
























